.container {
	max-width: 120rem;
	margin: 8rem auto;
	background-color: var(--color-grey-light-2);
	box-shadow: var(--shadow-dark);

	min-height: 40rem;
}

.header {
	font-size: 1.4rem;
	height: 7rem;
	background-color: #fff;
	border-bottom: 3px solid var(--color-grey-light-2);

	display: flex;
	justify-content: space-between;
	align-items: center;
}

// flex container
.content {
	display: flex;
}

.sidebar {
	background-color: var(--color-grey-dark-1);

	// flex-grow: 0;
	// flex-shrink: 0;
	// flex-basis: 18%;
	flex: 0 0 18%;

	// justify-content works on the main axis.. we changed the direction. so the main axis is vertical now
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.hotel-view {
	background-color: #fff;

	height: 60rem;

	// element will grow as much as it can
	flex: 1;
}
